body {
    margin: 0px;
    padding: 0;
    color: #616161;
}

h1, h2, h3 {
    margin-top: 0;
}

h1 {
    font-size: 1.6em;
    font-weight: normal;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1em;
    margin-top:20px;
}

ul {
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a img {
    border: none;
}

img.left {
    float: left;
    margin: 0 20px 0 0;
}

img.right {
    float: right;
    margin: 0 0 0 20px;
}

/* Header */
#header {
    padding: 4px 0px;
    height: 85px;
    position: relative;
    margin-top: 5px;
}

#logo {
    text-align: left;
}

/* Menu 
#menu {
    position: absolute;
    top:65px;
    left:17%;
    padding: 0;
    height: 50px;
    overflow: hidden;    
} */


.tabmenu {
    vertical-align:middle !important;	
    font-weight:bold;	
    font-style: inherit; 	
}

#menu ul {
    margin: 0;
    list-style: none;
}

#menu li {
    display: inline;
}

#menu li a {
    display: block;
    float: left;
    height: 20px;
    margin: 0;
    padding: 9px 30px 9px 30px;
    text-decoration: none;
    font-size: 18px;	

}

#menu li a:hover {
    text-decoration: underline;
}

#globalthemeswitcher {
    position:absolute;
    top:5px;
    right:5px;
}

/* Page */
#page {
    padding: 7px 0px;
    background: oldlace;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

/* Content */
#content {
    width: 100%;
    float: left ;
}

.post {
    padding-bottom: 15px;
}

.post h1 {
    font-weight: normal;
}

.title {
    height: 30px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 8px 0 0 20px;
}

.title a {
    border-bottom: none;
    color: #FFFFFF;
}

.title a:hover {
    border-bottom: 1px dotted #000000;
}

.submenu-title {
    padding: 4px 10px;
}

.submenu-content {
    text-align:center;
}

.byline {
    margin: -60px 20px 20px 20px;
}

.byline a {
    color: #DC8700;
}

.tag {
    padding: 0 15px;
}

.entry {
    padding: 0 20px;
}

.entry p {
    line-height: 200%;
}

.links {
    padding: 4px 0px;
    text-align: right;
    font-weight: bold;
}

.links a {
    border: none;
}

.links a:hover {
}

#sidebar {
    float: left;
    width: 16%;
    padding: 0 0px;    
    overflow: hidden;
    margin-top: 95px;
    margin-left: 0.2% ;
    background: oldlace;
}

#sidebar a.ui-state-hover, 
#sidebar a.ui-state-highlight {
    border:0 none;
    text-decoration: none;
    font-weight: normal;
}

#sidebar table {
   width: 100%;
}

#sidebar table td {
    vertical-align: top;
}

#sidebar ul {
    padding: 0;
    margin: 0;
}

#sidebar ul li {
    list-style-type: none;
    padding: 1px;
}

/* Footer */
#footer {    
    height: 50px;
    margin: 0 auto;
    padding: 0 10px;
    font-size: 14px;
}

#footer p {
    margin: 0;
    padding: 12px 0 0 0;
    text-align: center;
}

#footer a {
}

#footer .link {
    float: right;
}

#footer .copyright {
    color: black;
    text-align: center;
    /*float: left;*/
}

.homeText {
    line-height: 175%;
}

.homeMenu {
    width:200px;
    float:left;
    margin-right:10px
}

.themeMenu {
    overflow: auto;
    height:300px;
    width:200px;
}

.dp-xml {
    width:1000px;
}

.ui-themeswitcher a.ui-selectonemenu-label-container {
    text-decoration: none !important;
}

.ui-widget {
    font-size: 12px !important;
}

.left-font {
    text-align: left;
    width: 53%;	
}

.right-font {
    text-align: right;
    font-weight: bold;
    /*     float: right; */
    width: 47%;	
}

.center-font {
    text-align: center;	
}

.bold_font {
    font-weight: bold;
    font-size: 12px;
}

.center1 {
    margin-left: auto;
    margin-right: auto;
}

.disconnect {
    background-image: url(../images/closebar.png) !important;	
    height:16px;
    width:16px;
}
.disconnect-menu {
    background-image: url(../images/closebar.png) !important;	
    height:15px  !important;
    width:15px  !important;
}

.menu-icon {
    background-image: url(../images/next.png) !important;	
    height:15px  !important;
    width:15px  !important;
}



.ui-state-default .plus-icon {
    background-image: url(../images/plus.png) !important;	
    margin:-10px !important;
    height:28px  !important;
    width:28px  !important;
}



.menuleft{
    background-color: transparent  !important;
    margin: 0px  !important;
    border: 3px  !important;
    width :100%;
}

.left-fieldset {
    margin-bottom: 8px;
    padding: 1px;	
}


#checktameio .ui-fieldset-legend {
    color: red !important ;
    font-weight:bold;
}




.loginTitle {
    position: absolute;
    color:black; 
    font-weight:bolder;
    font-stretch:condensed;
    font-style:inherit;
    font-variant:small-caps; 
    font-size:24px; 
    top:30px;
    margin-left: 40%;	
}

.errorTitle {
    position: absolute;
    color:red; 
    font-weight:900;
    font-stretch:condensed;
    font-style:inherit;
    font-variant:small-caps; 
    font-size:24px; 
    top:40px;
    margin-left: 40%;	
}

.pageTitle {
    color:black; 
    font-weight:bold;            
    font-size:18px;     
    font-family: Verdana,Arial,Helvetica,sans-serif;   
}

.pageSubTitle {
    color:black; 
    font-weight:bold;    	    
    font-size:14px;
    font-family: Verdana,Arial,Helvetica,sans-serif;      
}


.iatrikoPageTitle {
    color:black; 
    font-weight:bold;            
    font-size:18px;     
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

.iatrikoPageSubTitle {
    color:black; 
    font-weight:bold;    	    
    font-size:14px;
    font-family: Verdana,Arial,Helvetica,sans-serif;  
}




.errorDetails{
    color: red;
    font-stretch: condensed;
    font-size: 14px;
    font-weight:bold;    
    font-family: Verdana,Arial,Helvetica,sans-serif; 
    font-style: italic;
}

/*.ui-menuitem-link {
    padding: 0px;
    margin: 0px;	

}



.ui-menuitem{
    padding: -20px;
    margin: -20px;	
}

.ui-menu-list {
    width : 190px;
    padding: -20px;
    margin: -20px;	
}

*/




.noPadding {
    padding: 0px;
}

.noborder {
    border: 0px;
}

.align_top_max {
    vertical-align: top;
    width: 100%;
}

.align_right {
    text-align: right;
}

.nowrap {
    white-space: nowrap;
}

.alignCenter {
    margin: 0 auto;
}

.width20pct {
    width: 5%;
}

.alignTop {
    vertical-align: top;
}


.ui-menuitem-text {		
    font-family: Tahoma, Arial, Verdana   !important; 
    font-size: 11px   !important ;	
    color :black;				
}

.content1{
    font-family: Tahoma, Arial, Verdana   !important; 
    font-size: 11px   !important ;
    color :black;	    
}

.ui-datatable-data, table,.ui-outputlabel, .ui-selectonemenu-label, .ui-selectonemenu-items, .ui-selectonemenu, .ui-autocomplete-items, .ui-autocomplete-input, 
.ui-button-text,.ui-button-text-only, .ui-datatable-header {
    font-family: Tahoma, Arial, Verdana   !important; 
    font-size: 11px   !important ;	
    color :black !important;

}


.ui-autocomplete-items,.ui-autocomplete-item{
    /*font-family: Tahoma, Arial, Verdana   !important; */     
    font-stretch: condensed; 
    font-size: 10px; 
    margin: 0px;
    
}
/*.ui-autocomplete-query, .ui-autocomplete,.ui-autocomplete-input{
    margin: 0px;
}



.ui-datatable-data, table, 
.ui-button-text,.ui-button-text-only {
    font-family: Tahoma, Arial, Verdana   !important; 
    font-size: 12px   !important ;	
    color :black !important;

} */




.centered {
    display: block;
    margin-left: auto;
    margin-right: auto }

.redBorderAssertion{
   border-color: red !important;
}

.mainBG{
    background-image:url('../images/gradient5.png');
    background-repeat:repeat-x;
}

.ui-datepicker{
    width: 200px ! important;
}










